{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
  {{#if featured}}
  
    <article class="{{post_class}} index-post-summary-featured clearfix {{#if featured}}featured{{/if}}">
      
      {{#if image}}
        <div class="featuredImageBackground" style="background-image:url({{image}});"></div>
      {{/if}}
      
      <footer class="post-meta clearfix">
          {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="{{author.name}}" nopin="nopin" />{{/if}} <p>{{author}} {{tags prefix=" on "}} <br><time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMM Do YYYY"}}</time></p>
      </footer>
      
      <div class="article-intro">

        <header class="post-header">
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
        </header>
        <section class="post-excerpt clearfix">
            <p>{{excerpt words="24"}}</p>
        </section>
        <a href="{{url}}" class="index-post-button">Read More</a>
      </div>
    </article>
    
  {{else}}
    <article class="{{post_class}} index-post-summary grid-column double-column clearfix {{#if featured}}featured{{/if}}">
      <footer class="post-meta clearfix">
          {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="{{author.name}}" nopin="nopin" />{{/if}} <p>{{author}} {{tags prefix=" on "}} <br><time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMM Do YYYY"}}</time></p>
      </footer>
      <header class="post-header">
          <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
      </header>
      <section class="post-excerpt clearfix">
          <p>{{excerpt words="24"}}</p>
      </section>
      <a href="{{url}}" class="index-post-button">Read More</a>
    </article>
  {{/if}}

{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
