<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <link rel="shortcut icon" href="{{asset "favicon.ico"}}"> -->

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700italic,700' rel='stylesheet' type='text/css'>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    
    <div class="grid-wrapper">

        {{! Everything else gets inserted here }}
        {{{body}}}

        <footer class="footer clearfix">
            <p>All Content <a href="{{@blog.url}}">Karl Oscar Weber</a> &copy; {{date format="YYYY"}}, find me on <a href="https://twitter.com/karloscarweber" target="_blank">Twitter</a>, and <a href="https://github.com/karloscarweber">Github</a>. I'm a Freelancer from Salt Lake City Utah. Find out more <a href="{{@blog.url}}/about">About Me</a>. I also answer email at <a href="mailto:me@kow.fm">me@kow.fm</a>.<br> Proudly published with <a href="">Ghost</a></p>
        </footer>

    </div><!-- .grid-wrapper -->

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

</body>
</html>
